@import '@/global.scss';

// SCSS Variables
$background: var(--background);
$background-value: var(--background-value);
$foreground: var(--foreground);
$foreground-value: var(--foreground-value);
$font: var(--font);
$font-value: var(--font-value);
$font-alt: var(--fontAlt);
$font-alt-value: var(--fontAlt-value);
$lines: var(--lines);
$lines-value: var(--lines-value);
$lines-alt: var(--linesAlt);
$lines-alt-value: var(--linesAlt-value);
$accent: var(--accent);
$accent-value: var(--accent-value);
$error: var(--error);
$error-value: var(--error-value);
$warn: var(--warn);
$warn-value: var(--warn-value);
$icon: var(--icon);
$icon-value: var(--icon-value);
$special: var(--special);
$special-value: var(--special-value);
$font-size: var(--font-size);
$anim-s: var(--anim-s);
$anim-m: var(--anim-m);
$anim-l: var(--anim-l);

html {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0px;

	font-family: 'Roboto', sans-serif;
	font-size: $font-size;
	color: $font;
	background-color: $background;

	transition: all $anim-s ease;
	position: relative;
}

body {
	@extend html;
	overflow: overlay;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.layout {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	max-width: 1300px;
	height: 100%;
}

// Anchor Links
a {
	text-decoration: none;
	color: $font;
}

p {
	margin: 0px;
	padding: 0px;
}

// Selection
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

// Scroll Bar
::-webkit-scrollbar {
	width: 2px;
	height: 2px;

	&:hover {
		width: 4px;
	}
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
	transition: all $anim-s ease;
}

::-webkit-scrollbar-thumb {
	background: rgba($color: $font-value, $alpha: 0.5);
	border: 0px none $font;
	border-radius: 8px;

	&:hover {
		width: 10px;
		height: 2px;
		background: $font;
	}
}

::-webkit-scrollbar-track {
	background-color: transparent;
	border: 0px none $font;
	transition: all $anim-l ease;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

// Selection
::selection {
	background: $accent;
	color: $background;
	border-radius: 5px;
	padding: 5px;
}
